# Mod 21 - SQL - SQL em python

In [1]:
import psycopg2 as pg2
import pandas as pd

In [2]:
conn = pg2.connect(
    host='localhost',
    port=5432,
    dbname='demo',
    user='postgres',
    password='1234'
)

In [3]:
cur = conn.cursor()

In [4]:
cur.execute('SELECT * FROM ticket_flights;')

In [5]:
conn.commit()

In [6]:
data = cur.fetchall()

In [7]:
cur.close()
conn.close()

In [8]:
data

[('0005432081075', 11002, 'Business', Decimal('99800.00')),
 ('0005433845814', 11047, 'Business', Decimal('99800.00')),
 ('0005432003470', 27484, 'Business', Decimal('99800.00')),
 ('0005433568595', 23503, 'Business', Decimal('105900.00')),
 ('0005432003656', 27415, 'Business', Decimal('99800.00')),
 ('0005433415623', 35652, 'Business', Decimal('199800.00')),
 ('0005432661827', 43274, 'Business', Decimal('185300.00')),
 ('0005432873244', 2394, 'Business', Decimal('115000.00')),
 ('0005432661894', 43278, 'Business', Decimal('185300.00')),
 ('0005433569575', 23477, 'Business', Decimal('105900.00')),
 ('0005432664112', 12867, 'Business', Decimal('185300.00')),
 ('0005435471715', 35769, 'Business', Decimal('199300.00')),
 ('0005434870801', 29001, 'Business', Decimal('49700.00')),
 ('0005435471734', 35812, 'Business', Decimal('199300.00')),
 ('0005434871401', 28944, 'Business', Decimal('49700.00')),
 ('0005435824945', 2580, 'Business', Decimal('199800.00')),
 ('0005434871667', 29008, 'Business', Decimal('49700.00')),
 ('0005433567338', 23517, 'Business', Decimal('105900.00')),
 ('0005434872425', 28940, 'Business', Decimal('49700.00')),
 ('0005433570400', 23473, 'Business', Decimal('105900.00')),
 ('0005434872533', 29029, 'Business', Decimal('49700.00')),
 ('0005433569181', 23574, 'Business', Decimal('105900.00')),
 ('0005434873609', 29053, 'Business', Decimal('49700.00')),
 ('0005435837641', 11906, 'Business', Decimal('199300.00')),
 ('0005434874841', 28998, 'Business', Decimal('49700.00')),
 ('0005433848067', 27492, 'Business', Decimal('99800.00')),
 ('0005434874960', 28983, 'Business', Decimal('49700.00')),
 ('0005435913697', 28953, 'Business', Decimal('49700.00')),
 ('0005434875408', 28981, 'Business', Decimal('49700.00')),
 ('0005434878861', 19973, 'Business', Decimal('49700.00')),
 ('0005434875928', 28971, 'Business', Decimal('49700.00')),
 ('0005435858471', 54745, 'Business', Decimal('90500.00')),
 ('0005434876478', 28994, 'Business', Decimal('49700.00')),
 ('0005433566754', 23561, 'Business', Decimal('105900.00')),
 ('0005434876746', 29045, 'Business', Decimal('49700.00')),
 ('0005435858272', 8569, 'Business', Decimal('90500.00')),
 ('0005434877177', 29034, 'Business', Decimal('49700.00')),
 ('0005434871842', 29026, 'Business', Decimal('49700.00')),
 ('0005434878929', 29009, 'Business', Decimal('49700.00')),
 ('0005434871958', 28991, 'Business', Decimal('49700.00')),
 ('0005434879322', 29031, 'Business', Decimal('49700.00')),
 ('0005432873335', 34719, 'Business', Decimal('115000.00')),
 ('0005434879802', 29032, 'Business', Decimal('49700.00')),
 ('0005434877454', 29007, 'Business', Decimal('49700.00')),
 ('0005434871391', 19983, 'Business', Decimal('49700.00')),
 ('0005434876519', 20044, 'Business', Decimal('49700.00')),
 ('0005434871691', 20020, 'Business', Decimal('49700.00')),
 ('0005434873402', 29056, 'Business', Decimal('49700.00')),
 ('0005434871788', 19967, 'Business', Decimal('49700.00')),
 ('0005432947850', 50169, 'Business', Decimal('105900.00')),
 ('0005434871926', 20025, 'Business', Decimal('49700.00')),
 ('0005432947600', 50185, 'Business', Decimal('105900.00')),
 ('0005434872513', 19963, 'Business', Decimal('49700.00')),
 ('0005434874558', 29052, 'Business', Decimal('49700.00')),
 ('0005434872818', 19949, 'Business', Decimal('49700.00')),
 ('0005435472842', 35760, 'Business', Decimal('199300.00')),
 ('0005434873698', 20058, 'Business', Decimal('49700.00')),
 ('0005432693164', 34652, 'Business', Decimal('115000.00')),
 ('0005434873967', 20047, 'Business', Decimal('49700.00')),
 ('0005432691462', 34682, 'Business', Decimal('115000.00')),
 ('0005434874147', 19954, 'Business', Decimal('49700.00')),
 ('0005432691259', 34670, 'Business', Decimal('115000.00')),
 ('0005434874572', 20046, 'Business', Decimal('49700.00')),
 ('0005435810998', 58401, 'Business', Decimal('133200.00')),
 ('0005434875689', 20048, 'Business', Decimal('49700.00')),
 ('0005432691574', 34616, 'Business', Decimal('115000.00')),
 ('0005434876666', 20001, 'Business', Decimal('49700.00')),
 ('0005435838614', 11866, 'Business', Decimal('199300.00')),
 ('0005434877256', 20030, 'Business', Decimal('49700.00')),
 ('0005433654792', 54737, 'Business', Decimal('90500.00')),
 ('0005434878242', 19959, 'Business', Decimal('49700.00')),
 ('0005435473065', 11856, 'Business', Decimal('199300.00')),
 ('0005434878694', 20067, 'Business', Decimal('49700.00')),
 ('0005434275810', 17482, 'Business', Decimal('145300.00')),
 ('0005434878995', 20060, 'Business', Decimal('49700.00')),
 ('0005434872144', 20027, 'Business', Decimal('49700.00')),
 ('0005434879587', 19956, 'Business', Decimal('49700.00')),
 ('0005432389561', 2648, 'Business', Decimal('101000.00')),
 ('0005434879694', 20055, 'Business', Decimal('49700.00')),
 ('0005432691995', 34704, 'Business', Decimal('115000.00')),
 ('0005434879818', 20008, 'Business', Decimal('49700.00')),
 ('0005433848199', 11004, 'Business', Decimal('99800.00')),
 ('0005434880246', 20002, 'Business', Decimal('49700.00')),
 ('0005433564575', 50137, 'Business', Decimal('105900.00')),
 ('0005434880450', 20029, 'Business', Decimal('49700.00')),
 ('0005433815518', 27446, 'Business', Decimal('99800.00')),
 ('0005435280999', 27506, 'Business', Decimal('99800.00')),
 ('0005435824899', 2579, 'Business', Decimal('199800.00')),
 ('0005435281256', 27449, 'Business', Decimal('99800.00')),
 ('0005434874393', 28999, 'Business', Decimal('49700.00')),
 ('0005435281462', 27488, 'Business', Decimal('99800.00')),
 ('0005432851600', 36202, 'Business', Decimal('101000.00')),
 ('0005435281792', 27464, 'Business', Decimal('99800.00')),
 ('0005434875367', 19990, 'Business', Decimal('49700.00')),
 ('0005435281879', 27530, 'Business', Decimal('99800.00')),
 ('0005434876598', 28993, 'Business', Decimal('49700.00')),
 ('0005435282944', 27500, 'Business', Decimal('99800.00')),
 ('0005434879396', 29017, 'Business', Decimal('49700.00')),
 ('0005435282996', 27450, 'Business', Decimal('99800.00')),
 ('0005434874126', 28972, 'Business', Decimal('49700.00')),
 ('0005435283205', 27467, 'Business', Decimal('99800.00')),
 ('0005432947455', 23522, 'Business', Decimal('105900.00')),
 ('0005435280605', 11039, 'Business', Decimal('99800.00')),
 ('0005435472226', 11905, 'Business', Decimal('199300.00')),
 ('0005435281559', 11074, 'Business', Decimal('99800.00')),
 ('0005433533402', 64321, 'Business', Decimal('111600.00')),
 ('0005435282970', 11013, 'Business', Decimal('99800.00')),
 ('0005433415174', 35745, 'Business', Decimal('199800.00')),
 ('0005432674027', 2378, 'Business', Decimal('115000.00')),
 ('0005432692431', 34611, 'Business', Decimal('115000.00')),
 ('0005432675265', 2369, 'Business', Decimal('115000.00')),
 ('0005434872216', 20037, 'Business', Decimal('49700.00')),
 ('0005432675427', 2352, 'Business', Decimal('115000.00')),
 ('0005435472617', 11918, 'Business', Decimal('199300.00')),
 ('0005432675378', 34680, 'Business', Decimal('115000.00')),
 ('0005433843368', 11075, 'Business', Decimal('99800.00')),
 ('0005432675414', 34639, 'Business', Decimal('115000.00')),
 ('0005434026650', 28687, 'Business', Decimal('117400.00')),
 ('0005432675534', 34698, 'Business', Decimal('115000.00')),
 ('0005434871703', 29041, 'Business', Decimal('49700.00')),
 ('0005432677600', 34629, 'Business', Decimal('115000.00')),
 ('0005434876045', 29055, 'Business', Decimal('49700.00')),
 ('0005433654211', 8565, 'Business', Decimal('90500.00')),
 ('0005433843318', 11020, 'Business', Decimal('99800.00')),
 ('0005433654378', 8572, 'Business', Decimal('90500.00')),
 ('0005433844317', 27462, 'Business', Decimal('99800.00')),
 ('0005433654545', 8561, 'Business', Decimal('90500.00')),
 ('0005435472843', 11912, 'Business', Decimal('199300.00')),
 ('0005433654581', 8559, 'Business', Decimal('90500.00')),
 ('0005432690748', 2329, 'Business', Decimal('115000.00')),
 ('0005434871046', 28996, 'Business', Decimal('49700.00')),
 ('0005434880118', 28990, 'Business', Decimal('49700.00')),
 ('0005434871186', 28987, 'Business', Decimal('49700.00')),
 ('0005435824455', 2519, 'Business', Decimal('199800.00')),
 ('0005434871330', 29030, 'Business', Decimal('49700.00')),
 ('0005434877766', 29039, 'Business', Decimal('49700.00')),
 ('0005434871936', 28978, 'Business', Decimal('49700.00')),
 ('0005432391986', 2652, 'Business', Decimal('101000.00')),
 ('0005434872096', 28985, 'Business', Decimal('49700.00')),
 ('0005432142131', 11862, 'Business', Decimal('199300.00')),
 ('0005434872946', 28997, 'Business', Decimal('49700.00')),
 ('0005434873178', 28955, 'Business', Decimal('49700.00')),
 ('0005434873035', 29003, 'Business', Decimal('49700.00')),
 ('0005433566838', 23549, 'Business', Decimal('105900.00')),
 ('0005434873451', 29000, 'Business', Decimal('49700.00')),
 ('0005432693957', 34615, 'Business', Decimal('115000.00')),
 ('0005433654211', 54723, 'Business', Decimal('90500.00')),
 ('0005434876371', 29057, 'Business', Decimal('49700.00')),
 ('0005433654396', 54731, 'Business', Decimal('90500.00')),
 ('0005434173497', 27508, 'Business', Decimal('99800.00')),
 ('0005434873818', 28964, 'Business', Decimal('49700.00')),
 ('0005435837373', 11858, 'Business', Decimal('199300.00')),
 ('0005434873898', 28937, 'Business', Decimal('49700.00')),
 ('0005434173253', 10995, 'Business', Decimal('99800.00')),
 ('0005433654516', 54730, 'Business', Decimal('90500.00')),
 ('0005433654939', 54733, 'Business', Decimal('90500.00')),
 ('0005434876110', 29021, 'Business', Decimal('49700.00')),
 ('0005433567959', 23541, 'Business', Decimal('105900.00')),
 ('0005434876301', 29048, 'Business', Decimal('49700.00')),
 ('0005433567021', 23515, 'Business', Decimal('105900.00')),
 ('0005433654585', 54743, 'Business', Decimal('90500.00')),
 ('0005432674616', 34713, 'Business', Decimal('115000.00')),
 ('0005434876770', 28962, 'Business', Decimal('49700.00')),
 ('0005432948176', 50203, 'Business', Decimal('105900.00')),
 ('0005434877123', 29019, 'Business', Decimal('49700.00')),
 ('0005434275597', 31205, 'Business', Decimal('145300.00')),
 ('0005434877576', 28995, 'Business', Decimal('49700.00')),
 ('0005434173487', 11092, 'Business', Decimal('99800.00')),
 ('0005433654959', 54724, 'Business', Decimal('90500.00')),
 ('0005435840189', 11873, 'Business', Decimal('199300.00')),
 ('0005434878007', 28974, 'Business', Decimal('49700.00')),
 ('0005433846036', 11023, 'Business', Decimal('99800.00')),
 ('0005434878010', 29038, 'Business', Decimal('49700.00')),
 ('0005432389733', 2653, 'Business', Decimal('101000.00')),
 ('0005434878131', 28986, 'Business', Decimal('49700.00')),
 ('0005433527070', 27400, 'Business', Decimal('111600.00')),
 ('0005434878322', 28951, 'Business', Decimal('49700.00')),
 ('0005434879564', 29047, 'Business', Decimal('49700.00')),
 ('0005434878448', 29025, 'Business', Decimal('49700.00')),
 ('0005435822552', 35711, 'Business', Decimal('199800.00')),
 ('0005434879445', 28975, 'Business', Decimal('49700.00')),
 ('0005433846262', 27429, 'Business', Decimal('99800.00')),
 ('0005434879997', 28958, 'Business', Decimal('49700.00')),
 ('0005433567794', 50159, 'Business', Decimal('105900.00')),
 ('0005434880061', 28939, 'Business', Decimal('49700.00')),
 ('0005435913811', 19974, 'Business', Decimal('49700.00')),
 ('0005434880377', 28992, 'Business', Decimal('49700.00')),
 ('0005433842760', 11041, 'Business', Decimal('99800.00')),
 ('0005434880419', 29016, 'Business', Decimal('49700.00')),
 ('0005434878998', 19987, 'Business', Decimal('49700.00')),
 ('0005434871294', 20012, 'Business', Decimal('49700.00')),
 ('0005433529199', 64326, 'Business', Decimal('111600.00')),
 ('0005435471912', 35835, 'Business', Decimal('199300.00')),
 ('0005432430625', 61127, 'Business', Decimal('117400.00')),
 ('0005434871675', 19994, 'Business', Decimal('49700.00')),
 ('0005434877852', 29022, 'Business', Decimal('49700.00')),
 ('0005434871755', 20059, 'Business', Decimal('49700.00')),
 ('0005434873287', 28965, 'Business', Decimal('49700.00')),
 ('0005434872027', 20057, 'Business', Decimal('49700.00')),
 ('0005434879578', 20050, 'Business', Decimal('49700.00')),
 ('0005434872594', 20049, 'Business', Decimal('49700.00')),
 ('0005434875653', 29054, 'Business', Decimal('49700.00')),
 ('0005434873212', 19984, 'Business', Decimal('49700.00')),
 ('0005433415877', 2480, 'Business', Decimal('199800.00')),
 ('0005434873768', 20045, 'Business', Decimal('49700.00')),
 ('0005433527263', 27384, 'Business', Decimal('111600.00')),
 ('0005434874113', 19975, 'Business', Decimal('49700.00')),
 ('0005433846288', 11044, 'Business', Decimal('99800.00')),
 ('0005434874671', 19986, 'Business', Decimal('49700.00')),
 ('0005433568382', 50149, 'Business', Decimal('105900.00')),
 ('0005434874862', 20005, 'Business', Decimal('49700.00')),
 ('0005435938887', 58351, 'Business', Decimal('133200.00')),
 ('0005434875366', 20035, 'Business', Decimal('49700.00')),
 ('0005434879676', 20010, 'Business', Decimal('49700.00')),
 ('0005434875546', 19993, 'Business', Decimal('49700.00')),
 ('0005433844594', 27504, 'Business', Decimal('99800.00')),
 ('0005434875800', 20016, 'Business', Decimal('49700.00')),
 ('0005433847050', 27438, 'Business', Decimal('99800.00')),
 ('0005434875814', 19976, 'Business', Decimal('49700.00')),
 ('0005433846366', 11095, 'Business', Decimal('99800.00')),
 ('0005434876231', 20013, 'Business', Decimal('49700.00')),
 ('0005433842703', 27526, 'Business', Decimal('99800.00')),
 ('0005434876908', 20042, 'Business', Decimal('49700.00')),
 ('0005435280943', 27534, 'Business', Decimal('99800.00')),
 ('0005434876938', 20004, 'Business', Decimal('49700.00')),
 ('0005435839091', 11935, 'Business', Decimal('199300.00')),
 ('0005434877807', 20022, 'Business', Decimal('49700.00')),
 ('0005435838001', 11937, 'Business', Decimal('199300.00')),
 ('0005434877855', 20065, 'Business', Decimal('49700.00')),
 ('0005433564397', 50160, 'Business', Decimal('105900.00')),
 ('0005434877876', 20043, 'Business', Decimal('49700.00')),
 ('0005434872151', 28988, 'Business', Decimal('49700.00')),
 ('0005434877882', 19952, 'Business', Decimal('49700.00')),
 ('0005433812870', 61122, 'Business', Decimal('117400.00')),
 ('0005434878069', 19961, 'Business', Decimal('49700.00')),
 ('0005435811213', 58395, 'Business', Decimal('133200.00')),
 ('0005434878215', 20064, 'Business', Decimal('49700.00')),
 ('0005434879328', 19962, 'Business', Decimal('49700.00')),
 ('0005434878552', 19978, 'Business', Decimal('49700.00')),
 ('0005433842941', 11073, 'Business', Decimal('99800.00')),
 ('0005434878651', 19972, 'Business', Decimal('49700.00')),
 ('0005433846983', 27432, 'Business', Decimal('99800.00')),
 ('0005434878916', 20006, 'Business', Decimal('49700.00')),
 ('0005433815248', 11104, 'Business', Decimal('99800.00')),
 ('0005434879541', 20007, 'Business', Decimal('49700.00')),
 ('0005432947223', 50108, 'Business', Decimal('105900.00')),
 ('0005435471948', 35798, 'Business', Decimal('199300.00')),
 ('0005435822943', 35746, 'Business', Decimal('199800.00')),
 ('0005435913977', 29051, 'Business', Decimal('49700.00')),
 ('0005433843648', 27423, 'Business', Decimal('99800.00')),
 ('0005435472170', 35842, 'Business', Decimal('199300.00')),
 ('0005433564612', 50145, 'Business', Decimal('105900.00')),
 ('0005435472591', 35868, 'Business', Decimal('199300.00')),
 ('0005432948712', 50205, 'Business', Decimal('105900.00')),
 ('0005435472730', 35785, 'Business', Decimal('199300.00')),
 ('0005435822564', 2509, 'Business', Decimal('199800.00')),
 ('0005435472958', 35759, 'Business', Decimal('199300.00')),
 ('0005435990691', 31166, 'Business', Decimal('145300.00')),
 ('0005435473235', 35763, 'Business', Decimal('199300.00')),
 ('0005435990347', 17406, 'Business', Decimal('145300.00')),
 ('0005435471601', 11898, 'Business', Decimal('199300.00')),
 ('0005435990460', 17420, 'Business', Decimal('145300.00')),
 ('0005435913748', 20014, 'Business', Decimal('49700.00')),
 ('0005432693225', 2318, 'Business', Decimal('115000.00')),
 ('0005435913763', 19998, 'Business', Decimal('49700.00')),
 ('0005434871566', 20021, 'Business', Decimal('49700.00')),
 ('0005435914046', 19971, 'Business', Decimal('49700.00')),
 ('0005435838111', 11909, 'Business', Decimal('199300.00')),
 ('0005435472060', 11868, 'Business', Decimal('199300.00')),
 ('0005435281684', 27472, 'Business', Decimal('99800.00')),
 ('0005435472136', 11888, 'Business', Decimal('199300.00')),
 ('0005435823045', 35693, 'Business', Decimal('199800.00')),
 ('0005435914120', 29018, 'Business', Decimal('49700.00')),
 ('0005433569466', 50147, 'Business', Decimal('105900.00')),
 ('0005435472507', 11929, 'Business', Decimal('199300.00')),
 ('0005435824740', 35642, 'Business', Decimal('199800.00')),
 ('0005432802620', 2929, 'Business', Decimal('150400.00')),
 ('0005433847731', 11014, 'Business', Decimal('99800.00')),
 ('0005432802557', 39550, 'Business', Decimal('150400.00')),
 ('0005432873141', 34687, 'Business', Decimal('115000.00')),
 ('0005433808342', 61104, 'Business', Decimal('117400.00')),
 ('0005433844785', 27461, 'Business', Decimal('99800.00')),
 ('0005432080997', 11019, 'Business', Decimal('99800.00')),
 ('0005434879122', 28943, 'Business', Decimal('49700.00')),
 ('0005432081549', 11093, 'Business', Decimal('99800.00')),
 ('0005432690948', 2313, 'Business', Decimal('115000.00')),
 ('0005432003584', 27471, 'Business', Decimal('99800.00')),
 ('0005432851825', 2646, 'Business', Decimal('101000.00')),
 ('0005433812709', 28681, 'Business', Decimal('117400.00')),
 ('0005432693945', 2368, 'Business', Decimal('115000.00')),
 ('0005432081019', 11083, 'Business', Decimal('99800.00')),
 ('0005435281966', 27440, 'Business', Decimal('99800.00')),
 ('0005432081663', 11101, 'Business', Decimal('99800.00')),
 ('0005435837234', 35837, 'Business', Decimal('199300.00')),
 ('0005433812898', 28679, 'Business', Decimal('117400.00')),
 ('0005435837936', 35801, 'Business', Decimal('199300.00')),
 ('0005432389335', 2658, 'Business', Decimal('101000.00')),
 ('0005435838031', 35854, 'Business', Decimal('199300.00')),
 ('0005432389486', 2651, 'Business', Decimal('101000.00')),
 ('0005435838554', 35774, 'Business', Decimal('199300.00')),
 ('0005432389332', 36212, 'Business', Decimal('101000.00')),
 ('0005435838788', 35847, 'Business', Decimal('199300.00')),
 ('0005432389710', 36207, 'Business', Decimal('101000.00')),
 ('0005432677592', 2396, 'Business', Decimal('115000.00')),
 ('0005432389857', 36216, 'Business', Decimal('101000.00')),
 ('0005432948127', 50097, 'Business', Decimal('105900.00')),
 ('0005432391944', 2672, 'Business', Decimal('101000.00')),
 ('0005433570112', 50117, 'Business', Decimal('105900.00')),
 ('0005432391958', 2670, 'Business', Decimal('101000.00')),
 ('0005434872369', 20026, 'Business', Decimal('49700.00')),
 ('0005432391941', 36233, 'Business', Decimal('101000.00')),
 ('0005432946178', 50175, 'Business', Decimal('105900.00')),
 ('0005433842865', 11087, 'Business', Decimal('99800.00')),
 ('0005433843009', 11077, 'Business', Decimal('99800.00')),
 ('0005433843179', 11012, 'Business', Decimal('99800.00')),
 ('0005433570353', 50135, 'Business', Decimal('105900.00')),
 ('0005433844220', 11033, 'Business', Decimal('99800.00')),
 ('0005432948556', 50199, 'Business', Decimal('105900.00')),
 ('0005432430956', 28680, 'Business', Decimal('117400.00')),
 ('0005433415297', 2549, 'Business', Decimal('199800.00')),
 ('0005433844644', 11029, 'Business', Decimal('99800.00')),
 ('0005433570745', 50134, 'Business', Decimal('105900.00')),
 ('0005433844729', 11025, 'Business', Decimal('99800.00')),
 ('0005433846900', 11036, 'Business', Decimal('99800.00')),
 ('0005433844925', 11097, 'Business', Decimal('99800.00')),
 ('0005433846390', 11066, 'Business', Decimal('99800.00')),
 ('0005433845221', 11008, 'Business', Decimal('99800.00')),
 ('0005434872911', 19977, 'Business', Decimal('49700.00')),
 ('0005433845724', 11007, 'Business', Decimal('99800.00')),
 ('0005433570733', 50100, 'Business', Decimal('105900.00')),
 ('0005433846115', 11079, 'Business', Decimal('99800.00')),

In [9]:
df = pd.DataFrame(data)
df

                     0      1         2          3
0        0005432081075  11002  Business   99800.00
1        0005433845814  11047  Business   99800.00
2        0005432003470  27484  Business   99800.00
3        0005433568595  23503  Business  105900.00
4        0005432003656  27415  Business   99800.00
...                ...    ...       ...        ...
2360330  0005433449072  60392   Economy    3300.00
2360331  0005434404045  40159   Economy    4000.00
2360332  0005434924577  29674   Economy    7600.00
2360333  0005435652090  49259   Economy    3300.00
2360334  0005432329466   6150   Economy    5400.00

[2360335 rows x 4 columns]

In [10]:
df.columns = ['ticket_no', 'flight_id', 'fare_conditions', 'amount']

In [11]:
df

             ticket_no  flight_id fare_conditions     amount
0        0005432081075      11002        Business   99800.00
1        0005433845814      11047        Business   99800.00
2        0005432003470      27484        Business   99800.00
3        0005433568595      23503        Business  105900.00
4        0005432003656      27415        Business   99800.00
...                ...        ...             ...        ...
2360330  0005433449072      60392         Economy    3300.00
2360331  0005434404045      40159         Economy    4000.00
2360332  0005434924577      29674         Economy    7600.00
2360333  0005435652090      49259         Economy    3300.00
2360334  0005432329466       6150         Economy    5400.00

[2360335 rows x 4 columns]

## DVDrental

In [12]:
conn = pg2.connect(
    host='localhost',
    port=5432,
    dbname='dvdrental',
    user='postgres',
    password='1234'
)

cur = conn.cursor()

cur.execute('SELECT * FROM actor;')
conn.commit()

data = cur.fetchall()
colnames = [desc.name for desc in cur.description]

cur.close()
conn.close()

In [13]:
df = pd.DataFrame(data, columns=colnames)
df.head()

   actor_id first_name     last_name             last_update
0         1   Penelope       Guiness 2013-05-26 14:47:57.620
1         2       Nick      Wahlberg 2013-05-26 14:47:57.620
2         3         Ed         Chase 2013-05-26 14:47:57.620
3         4   Jennifer         Davis 2013-05-26 14:47:57.620
4         5     Johnny  Lollobrigida 2013-05-26 14:47:57.620

In [14]:
df.dtypes

actor_id                int64
first_name             object
last_name              object
last_update    datetime64[ns]
dtype: object

### Exercício

Calcular a média das seguintes variáveis por nome da categoria

- rental_duration
- rental_rate
- lenght
- replacement_cost

In [15]:
sql_query = '''
SELECT *
    FROM film AS t1
LEFT JOIN film_category AS t2
    ON t1.film_id = t2.film_id
LEFT JOIN category AS t3
    ON t2.category_id = t3.category_id
'''

conn = pg2.connect(
    host='localhost',
    port=5432,
    dbname='dvdrental',
    user='postgres',
    password='1234'
)

cur = conn.cursor()

cur.execute(sql_query)
conn.commit()

data = cur.fetchall()
colnames = [desc.name for desc in cur.description]

cur.close()
conn.close()

In [22]:
df = pd.DataFrame(data, columns=colnames)
df.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext,film_id,category_id,last_update,category_id,name,last_update
0,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,2013-05-26 14:50:58.951,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...,1,6,2006-02-15 10:07:09,6,Documentary,2006-02-15 09:46:27
1,2,Ace Goldfinger,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'ace':1 'administr':9 'ancient':19 'astound':4...,2,11,2006-02-15 10:07:09,11,Horror,2006-02-15 09:46:27
2,3,Adaptation Holes,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,2013-05-26 14:50:58.951,"[Trailers, Deleted Scenes]",'adapt':1 'astound':4 'baloon':19 'car':11 'fa...,3,6,2006-02-15 10:07:09,6,Documentary,2006-02-15 09:46:27
3,4,Affair Prejudice,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,2013-05-26 14:50:58.951,"[Commentaries, Behind the Scenes]",'affair':1 'chase':14 'documentari':5 'fanci':...,4,11,2006-02-15 10:07:09,11,Horror,2006-02-15 09:46:27
4,5,African Egg,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,2013-05-26 14:50:58.951,[Deleted Scenes],'african':1 'chef':11 'dentist':14 'documentar...,5,8,2006-02-15 10:07:09,8,Family,2006-02-15 09:46:27

In [23]:
df['rental_rate'] = df['rental_rate'].astype(float)
df['replacement_cost'] = df['replacement_cost'].astype(float)

In [24]:
df.groupby('name')[['rental_duration', 'rental_rate', 'length', 'replacement_cost']].mean()

             rental_duration  rental_rate      length  replacement_cost
name
Action              4.953125     2.646250  111.609375         20.911875
Animation           4.893939     2.808182  111.015152         20.126364
Children            5.033333     2.890000  109.800000         20.056667
Classics            5.070175     2.744386  111.666667         21.007544
Comedy              4.931034     3.162414  115.827586         19.024483
Documentary         4.764706     2.666471  108.750000         19.622353
Drama               5.080645     3.022258  120.838710         21.086774
Family              5.173913     2.758116  114.782609         19.729130
Foreign             5.109589     3.099589  121.698630         18.647534
Games               5.065574     3.252295  127.836066         20.285082
Horror              4.857143     3.025714  112.482143         19.865000
Music               5.235294     2.950784  113.647059         19.440980
New                 4.746032     3.116984  111.126984         19.418571
Sci-Fi              4.885246     3.219508  108.196721         21.153934
Sports              4.716216     3.125135  128.202703         20.395405
Travel              5.350877     3.235614  113.315789         19.025088

## Criando funções

In [25]:
def connect_to_postgress(dbname:str) -> pg2.connect:
    conn = None
    try:
        conn = pg2.connect(
            host='localhost',
            port=5432,
            dbname=dbname,
            user='postgres',
            password='1234'
        )
    except Exception as e:
        print(e)
    
    return conn

def get_result_query_df(conn: pg2.connect, query: str) -> pd.DataFrame:
    data = None
    try:
        cur = conn.cursor()

        cur.execute(query)
        conn.commit()

        data = cur.fetchall()
        colnames = [desc.name for desc in cur.description]

        cur.close()
        conn.close()
        
        data = pd.DataFrame(data, columns=colnames)
        
    except Exception as e:
        print(e)
    
    return data

In [26]:
df = get_result_query_df(conn=connect_to_postgress('dvdrental'), query='SELECT * FROM film')
df.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,2006,1,7,4.99,117,14.99,NC-17,2013-05-26 14:50:58.951,[Trailers],'chamber':1 'fate':4 'husband':11 'italian':2 ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,2006,1,5,4.99,49,19.99,R,2013-05-26 14:50:58.951,[Behind the Scenes],'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,2013-05-26 14:50:58.951,[Trailers],'airport':1 'ancient':18 'confront':14 'epic':...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,2006,1,4,4.99,73,12.99,PG-13,2013-05-26 14:50:58.951,[Trailers],'boat':20 'bright':1 'conquer':14 'encount':2 ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,2013-05-26 14:50:58.951,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...